<html>
  <head>
    <title>Flaskcards - EITF20</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    pre {
      margin: 1em;
    }

    div.centered {
      text-align: center;
      width: 46em;
      margin: 0 auto;
    }

    input.answer-input {
      width: 100%;
      height: 4em;
      margin-top: 1em;
    }

    div.answer {
      display: none;
      text-align: left;
    }

    .btn {
      margin-top: 1em;
      width: 100%;
    }
  </style>
  <script>
  $(document).ready(function () {
    $("button.btn").click(function() {
      $("div.answer").toggle()
    })

    $("input.answer-input").keyup(function(ev) {
      if (ev.which === 13) {
        if ($("div.answer").is(':visible'))
          $("a.btn-info")[0].click()
        $("div.answer").toggle()
      }
    })
  })
  </script>
  <body>
    <div class="centered">
      <h1>Question</h1>
      <h2>Left: {{ left }}</h2>
      <div class="question">
        {{ question | safe }}
      </div>
      <hr>
      <div class="answer">
        {{ answer | safe }}
      </div>
      <input class="answer-input" type="textarea"/>
      <button class="btn btn-success" type="submit">Svar</button>
      <a class="btn btn-info" href="/">Ny fråga</a>
    </div>
  </body>
</html>
